HOST=0.0.0.0
PORT=1337
APP_KEYS=CHANGE_ME_1,CHANGE_ME_2
API_TOKEN_SALT=CHANGE_ME
ADMIN_JWT_SECRET=CHANGE_ME
TRANSFER_TOKEN_SALT=CHANGE_ME
JWT_SECRET=CHANGE_ME

# Database (for production, use PostgreSQL)
# DATABASE_CLIENT=postgres
# DATABASE_HOST=127.0.0.1
# DATABASE_PORT=5432
# DATABASE_NAME=aikyamjobs
# DATABASE_USERNAME=strapi
# DATABASE_PASSWORD=strapi
